<div class="side_header">
  <div class="user_name">
    <a href="#">田村</a>
  </div>
  <div class="create_chatroom">
    <a href="#">チャットルームを作成する</a>
  </div>
</div>

<div class="side_body">
  <div class="room">
    <div class="room_name">
      <a href="#">田村の部屋1</a>
    </div>
  </div>
  <div class="room">
    <div class="room_name">
      <a href="#">田村の部屋2</a>
    </div>
  </div>
</div>